[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://codeberg.org/vhs/after-dark
[submodule "themes/fractal-forest"]
	path = themes/fractal-forest
	url = https://codeberg.org/vhs/fractal-forest
